:root {
    --textColor: rgb(249, 249, 249);
    --validateGreen: rgb(41, 223, 41);
    --buttonGreen: rgb(7, 157, 7);
    --blueGreyBg: rgb(69, 69, 98);
    --blueGreyFooter: rgb(48, 48, 106);
    --validateGrey: rgb(97, 97, 126);
    --purpleShade: rgb(93, 56, 130);
    --fadeGreen: rgba(26, 87, 37, 0.606);
    --Yelow: rgb(243, 215, 3);

}

@font-face {
    font-family: 'sk_femme_fataleregular';
    src: url('sk_femme_fatale_regular-webfont.woff2') format('woff2'),
        url('sk_femme_fatale_regular-webfont.woff') format('woff'),
        url('sk_Femme_fatale_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textColor);
    background-image: url("images/bgMobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

a {
    text-decoration: none;
    color: var(--textColor);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* TITRES */

h1 {
    font-family: 'sk_femme_fataleregular';
    font-size: 16px;
    letter-spacing: 10px;
    text-shadow: 22px 10px 7px #ECECEC;
}

h2 {
    font-family: 'sk_femme_fataleregular';
    letter-spacing: 16px;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: 29px 10px 1px rgba(255, 255, 255, 0.201);
}

h3 {
    text-align: center;
    width: 90vw;
    max-width: 600px;
}




/* BOUTONS */

.btnSubmit {
    border-radius: 15px;
    text-align: center;
    width: 200px;
    height: 30px;
    background-color: var(--buttonGreen);
    border: none;
    color: var(--textColor);
    cursor: pointer;
}

.btnSubmitScore {
    border-radius: 15px;
    text-align: center;
    width: 200px;
    height: 30px;
    background-color: var(--purpleShade);
    border: none;
    color: var(--textColor);
}

header button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
    height: 10px;
}

header button:hover {
    border: 1px solid var(--Yelow);
    color: var(--Yelow);
}



/* MOBILE FIRST */
/* MOBILE FIRST */
/* MOBILE FIRST */
/* MOBILE FIRST */


/* HEADER */



header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--purpleShade), rgb(45, 35, 90));
    position: sticky;
    top: 0;
    height: 80px;
}

header>div {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    width: 100%;
}

/* ANIMATION RULES */


.rules {
    padding: 20px;
    width: 60vw;
    position: absolute;
    right: 20px;
    top: 80px;
    border: 1px solid white;
    border-radius: 5%;
    background-color: rgba(65, 58, 122, 0.928);
    text-align: justify;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.rules.visible {
    opacity: 1;
    visibility: visible;
}




/* HOME */

#mainIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding-top: 4em;
    padding-bottom: 100px;
}

#mainIndex>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>div>a>p {
    text-align: center;
}

.categories {
    color: var(--textColor);
    background-color: var(--blueGreyBg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid var(--validateGrey);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.categories-completed {
    border-color: var(--validateGreen);
}

.categories:hover {
    background-color: var(--fadeGreen);
}

.validate {
    border: 6px solid var(--validateGreen);
}
img {
    width: 50px;
    height: auto;
}




/* NIVEAUX */


#mainNiveaux {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;
}




/* QUESTIONS */


#mainQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formChoix {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.choix {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: var(--blueGreyBg);
    color: var(--textColor);
    border: none;
    padding: 10px;
    width: 90vw;
    max-width: 600px;
    font-size: 13px;
    cursor: pointer;
}


/* SELECTION QUESTION */

.selected {
    background-color: var(--purpleShade);
}



/* CHARGING BAR */

#chargingBar {
    width: 100%;
    height: 10px;
    background-color: var(--fadeGreen);
}

#chargingMove {
    border-radius: 5px;
    width: 0%;
    height: 9px;
    background-color: var(--validateGreen);
}




/* SCORE */

#mainScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yellowStar {
    width: 150px;
}

.greenStar {
    width: 90px;
}

.violetStar {
    display: none;
}

#ScoreForm {
    padding-bottom: 20px;
}




/* PROFIL */

#mainProfil {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 50%;
}

#mainProfil>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgProfil {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purpleShade);
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#mainProfil div section>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

#mainProfil section {
    padding: 15%;
}


.btnProfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 50vw;
    max-width: 200px;
    height: 20px;
    background-color: var(--buttonGreen);
    border: none;
    color: var(--textColor);
}



/* FOOTER */

footer {
    border-top: 1px solid rgb(77, 77, 120);
    background-color: var(--blueGreyFooter);
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.061);
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
}

footer>div>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
}

footer>div>a>p {
    font-size: 10px;
    line-height: 0px;
}


/* MEDIA QUERIES DESKTOP */

@media (min-width: 550px) {

    body {
        background-image: url("images/bgDesktop.jpg");
    }

    h1 {
        font-size: 25px;
        padding: 0px;
        letter-spacing: 25px;
    }

    .choix {
        font-size: 15px;
    }

    #mainIndex {
        flex-direction: row;
    }


    /* QUESTIONS */

    .containerQuestions {
        height: 100vh;

    }

    .violetStar {
        display: inline-block;
    }


}