:root {
    --textColor: rgb(249, 249, 249);
    --validateGreen: rgb(41, 223, 41);
    --buttonGreen: rgb(7, 157, 7);
    --blueGreyBg: rgb(69, 69, 98);
    --blueGreyFooter: rgb(48, 48, 106);
    --validateGrey: rgb(97, 97, 126);
    --purpleShade: rgb(93, 56, 130);
    --fadeGreen: rgba(26, 87, 37, 0.606);

}

@font-face {
    font-family: 'sk_femme_fataleregular';
    src: url('sk_femme_fatale_regular-webfont.woff2') format('woff2'),
        url('sk_femme_fatale_regular-webfont.woff') format('woff'),
        url('sk_Femme_fatale_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textColor);
    background-image: url("images/bgMobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

a {
    text-decoration: none;
    color: var(--textColor);
}




/* TITRES */

h1 {
    font-family: 'sk_femme_fataleregular';
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 29px 10px 1px rgba(255, 255, 255, 0.201);
    padding-bottom: 2em;
}

h3 {
    text-align: center;
}




/* BOUTONS */

.btnSubmit {
    border-radius: 15px;
    text-align: center;
    width: 200px;
    height: 30px;
    background-color: var(--buttonGreen);
    border: none;
    color: var(--textColor);
}




/* MOBILE FIRST */
/* MOBILE FIRST */
/* MOBILE FIRST */
/* MOBILE FIRST */


/* HEADER */


header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(var(--purpleShade), rgba(0, 0, 255, 0));
    position: sticky;
    top: 0;
    height: 100px;
}

header>div {
    margin-top: auto;
}






/* HOME */

#mainIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding-bottom: 100px;
}

#mainIndex>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>div>a>p {
    text-align: center;
}

.categories {
    color: var(--textColor);
    background-color: var(--blueGreyBg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid var(--validateGrey);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.categories:hover {
    background-color: var(--fadeGreen);
}

.validate {
    border: 6px solid var(--validateGreen);
}

img {
    width: 50px;
    height: auto;
}





/* NIVEAUX */


#mainNiveaux {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4em;
}




/* QUESTIONS */


.mainQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formChoix {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.choix {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--blueGreyBg);
    color: var(--textColor);
    border: none;
    padding: 10px;
    width: 90vw;
    max-width: 600px;
    font-size: 13px;
    cursor: pointer;
}


/* SELECTION QUESTION */

.selected {
    background-color: var(--purpleShade);
}



/* CHARGING BAR */

#chargingBar {
    width: 100%;
    height: 10px;
    background-color: var(--fadeGreen);
}

#chargingMove {
    border-radius: 5px;
    width: 20%;
    height: 9px;
    background-color: var(--validateGreen);
}




/* SCORE */

#mainScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yellowStar {
    width: 150px;
}

.greenStar {
    width: 90px;
}

.violetStar{
    display: none;
}



/* FOOTER */

footer {
    border-top: 1px solid rgb(77, 77, 120);
    background-color: var(--blueGreyFooter);
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.061);
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
}

footer>div>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
}

footer>div>a>p {
    font-size: 10px;
    line-height: 0px;
}









/* MEDIA QUERIES DESKTOP */

@media (min-width: 550px) {

    body {
        background-image: url("images/bgDesktop.jpg");
    }

    .choix {
        font-size: 15px;
    }

    #mainIndex {
        flex-direction: row;
    }

    /* QUESTIONS */

    .containerQuestions {
        height: 100vh;
    
    }

    .violetStar{
        display: inline-block;
    }
}